.overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* オーバーレイの色と透明度を設定します */
    z-index: 2;
  }

  img {
    position: relative;
    z-index: 1;
  }
}